.App {
  text-align: center;

  max-width: 960px;
  margin: 0px auto;
  min-height: 100vh;

  display: grid;
  grid-template-rows: minmax(100px, auto) minmax(24px, auto) minmax(24px, aouto) minmax(50px, auto) 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-areas: "search ship-status improve-info improve-status"
                       "search-result panel skills improve-status"
                       "search-result info improve improve-status"
                       "search-result info grade improve-status";
}

.component-title{
  text-align: center;
}

.icon{
  width: 16px;
  align-self: center;
  margin: 1px;
}

.icon-skill{
  display: flex;
}

.button-agree{
  background: url("icon_agree.png") no-repeat;
  background-size: cover;
}
.button-agree:hover{
  background: url("icon_agree.gif") no-repeat;
  background-size: cover;
}

.button-disagree{
  background: url("icon_disagree.png") no-repeat;
  background-size: cover;
}
.button-disagree:hover{
  background: url("icon_disagree.gif") no-repeat;
  background-size: cover;
}
