.App {
  text-align: center;

  max-width: 960px;
  margin: 0px auto;
  min-height: 100vh;

  display: grid;
  grid-template-rows: minmax(100px, auto) minmax(48px, auto) minmax(48px, aouto) minmax(50px, auto) 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-areas: "search ship-status improve-info improve-status"
                       "search-result info improve      improve-status"
                       "search-result info grade        improve-status"
                       "search-result info skills       improve-status";
}

@media screen and (max-width: 960px){
  .App{
  grid-template-rows: minmax(100px, auto) minmax(48px, auto) minmax(48px, aouto) minmax(50px, auto) 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "search        ship-status  improve-info"
                         "search-result improve      improve-status"
                         "search-result grade        improve-status"
                         "info          skills       improve-status";
  }
}

@media screen and (max-width: 768px){
  .App{
  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(48px, auto) minmax(48px, aouto) minmax(48px, auto) 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "search        improve-info"
                         "search-result ship-status"
                         "improve       improve-status"
                         "grade         improve-status"
                         "skills        improve-status"
                         "info          improve-status";
  }
}

@media screen and (max-width: 560px){
  .App{
  max-width: 260px;
  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(48px, auto) minmax(48px, aouto) minmax(48px, auto) 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "search        "
                         "search-result "
                         "ship-status   "
                         "improve-info  "
                         "improve-status"
                         "improve       "
                         "grade         "
                         "skills        "
                         "info          ";
  }
}

.component-title{
  text-align: center;
}

.icon{
  width: 16px;
  align-self: center;
  margin: 1px;
}

.icon-stat{
  width: 16px;
  align-self: center;
  margin-right: 2px;
}

.icon-range{
  width: 32px;
  align-self: center;
  margin: 0px;
}

.icon-skill{
  display: flex;
}

.button-agree{
  background: url("icon_agree.png") no-repeat;
  background-size: cover;
}
.button-agree:hover{
  background: url("icon_agree.gif") no-repeat;
  background-size: cover;
}

.button-disagree{
  background: url("icon_disagree.png") no-repeat;
  background-size: cover;
}
.button-disagree:hover{
  background: url("icon_disagree.gif") no-repeat;
  background-size: cover;
}
