.grade{
  grid-area: grade;
  background: white;
  display: flex;
  font-size: small;
  justify-content: space-between;
}

.select-skills{
  position: absolute;
  min-width: 150px;
  grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
}

.select-grade-type{
  width: 192px;
  height: 20px;
  font-size: 13px;
}

.skills-frame{
  display: flex;
  justify-content: flex-end;
}

.grade-chose-group{
  display: flex;
  flex-direction: column;
}
.grade-first-group{
  display: flex;
  align-items: center;
}
.grade-add-button{
  height: 48px;
  width: 48px;
}

.grade-bottom-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
