.improve-status-data{
  display: flex;
  margin: 1px;
  justify-content: space-between;
  align-items: flex-end;
}

.improve-status-title{
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
}

.progress-ground{
  height: 3px;
  background: #606060;
}

.progress-line{
  height: 3px;
}

.improve-status-number{
  display: flex;
}

.improve-number-place{
  display: flex;
}

.improve-number{
  text-align: right;
  min-width: 30px;
}
