.improve-log{
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 260px;
}

.improve-step{
  display: flex;
  background: aliceblue;
}

.icon-ship-part{
  width: 32px;
  height: 32px;
}

.improve-operations{
  display: flex;
  flex-direction: column;
}

.improve-delete-button{
  height: 32px;
  width: 32px;
  padding: 0px;
  margin: 0px;
}
.improve-delete-icon{
  height: 28px;
  width: 28px;
}

.improve-step-number{
  min-width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.improve-toggler{
  display: flex;
  align-items: center;
}
