.improve{
  grid-area: improve;
  background: white;
  display: flex;
  flex-direction: column;
}

.improve-section{
  display: flex;
  justify-content: flex-end;
}

.improve-stats{
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 65px;
}

.stat{
  display: flex;
  justify-content: center;
}

.improve-add-button{
  width: 48px;
  height: 48px;
}
