.improve-status{
  grid-area: improve-status;
  background: white;
}

.improve-status-background{
  width: 696px;
}

.improve-status-progress{
  colorPrimary: white;
  colorSecondary: black;
}

barColorSecondary{
  backgroundColor: black;
}
