.parent{
  position: relative;
  top: 0;
  left: 0;
}
.icon-ssip{
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  top: 0;
  left: 0;
}
.icon-ssip-number{
  position: absolute;
  top: 16px;
  left: 19px;
  min-width: 12px;
}

.ssip-digit{
  width: 5px;
}
