.info{
  grid-area: info;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-title{
  display: flex;
  jusctify-content: center;
}
.info-message-default{
}

@keyframes blinking {
  0%{
    background-color: #ff3d50;
    border: 5px solid #871924;
  }
  /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
  50%{
    background-color: #55d66b;
    border: 5px solid #126620;
  }
  */
  100%{
    background-color: #222291;
    border: 5px solid #6565f2;
  }
}
.info-message-change{
  width: 300px;
  height: 300px;
  /* NAME | TIME | ITERATION */
  animation: blinking 1s infinite;
}
