.search-result{
  grid-area: search-result;
  background: white;
  display: flex;
  flex-direction: column;
}

.search-result-ships{
  max-height: calc(100vh - 306px);
  overflow-y: auto;
  overflow-y: overlay;
}

.result-ship{
  display: flex;
  align-items: center;
  margin: 1px;
}

.result-ship-name{
  margin: 5px;
}
