.basic-info{
  grid-area: ship-basic-info;
  background: white;
  display: flex;
  flex-direction: column;
}

.basic-info-name{
  display: flex;
  align-items: center;
  margin: 1px;
}

.basic-info-optional-skills{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.basic-info-levels{
  display: flex;
  margin: 5px;
}

.basic-info-parts{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5px;
}

.part-name{
  white-space: nowrap;
  text-align: right;
}

.part-number{
  text-align: center;
}

.basic-info-general{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
}
