.skill{
  background: repeating-linear-gradient(45deg, gray, transparent 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-block-right{
  display: flex;
}

.skill-set-button{
  width: 28px;
  height: 28px;
}
