.tabs{
  /*max-width: 240px;*/
}
.tab-buttons{
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  background-color: gainsboro;
  border-style: solid;
  border-color: gray;
}
.tab-buttons button:hover,
.tab-buttons button.active{
}
.tab-button{
  display: flex;
  align-item: center;
}
